[Unit]
Description=TDK Test Agent Start
After=dbus.service
Wants=dbus.service

[Service]
ExecStart=/bin/sh -c '/var/TDK/start_tdk.sh'
Restart=always
[Install]
WantedBy=multi-user.target
